# Build folder
build_all/
picsimlab_win64/
dev_w64/

# misc
*.bin
*.pcf
!HP67.pcf
!PICcalcM.pcf

# Other files generated after compiling
*.o
src/picsimlab
tools/PinViewer/PinViewer
tools/espmsim/espmsim
tools/srtank/srtank
